  <!--
    <footer>
      <nav class="navbar fixed-bottom navbar-dark bg-dark">
        <div class="navbar-text">&copy; Copyright 2025 by Imama Meraj. All rights reserved</h6>
      </nav>
    </footer>
    <script src="/Script/app.js"></script>
  </body>
</html>
-->

<footer>
    <div class="card text-center fixed-bottom">
      <div class="card-footer text-body-secondary">
        &copy; Copyright 2025 by Imama Meraj. All rights reserved.
      </div>
    </div>
  </footer>
  <script src="/Script/app.js"></script>