<nav class="navbar navbar-dark bg-dark p-1 fixed-top">
  <div class="container-fluid">
    <!-- Brand -->
    <a class="navbar-brand fs-3 text-warning" href="/">Wishlist</a>

    <!-- Toggler button - opens the offcanvas -->
    <button class="navbar-toggler" type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Offcanvas panel (appears from the right because of offcanvas-end) -->
    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title fs-2">Menu</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>

      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">

          <!-- LINKS THE HOME Page -->
          <li class="nav-item">
            <a class="nav-link text-warning fs-5" aria-current="page" href="/">Home</a>
          </li>

          <!-- LINKS THE GIFTLIST Page -->
          <li class="nav-item">
            <a class="nav-link text-warning fs-5" aria-current="page" href="/gifts">Gifts</a>
          </li>

          <!-- LINKS THE ADD Page -->
          <li class="nav-item">
            <a class="nav-link text-warning fs-5" aria-current="page" href="/gifts/add">Add</a>
          </li>

          <!-- LINKS THE ABOUT Page -->
          <li class="nav-item">
            <a class="nav-link text-warning fs-5" aria-current="page" href="/about">About</a>
          </li>

          <!-- LINKS THE CONTACTUS Page -->
          <li class="nav-item">
            <a class="nav-link text-warning fs-5" aria-current="page" href="/contactus">Contact us</a>
          </li>

        </ul>
      </div>
    </div>
  </div>
</nav>